.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  margin-bottom: -10px;
}
#projects {
  background-color: #e2edff;
  margin-bottom: -10px;
}
.jumbotron section {
  height: auto;
}
#about {
  background-color: #ffffff;
  margin-bottom: -10px;
}
#contact {
  background-color: #ffffff;
  margin-bottom: -10px;
}
.footerku {
  background-color: #0d6efd;
}
#gallery {
  margin-top: 50px;
  margin-bottom: -10px;
}
section {
  scroll-margin-top: 60px;
  overflow-x: clip;
  overflow-y: clip;
  overflow-clip-margin: 0;
}
.card-img-top {
  height: 200px;
  width: auto;
}
.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 5px;
}

.keyboard-box {
  transform-style: preserve-3d;
  position: relative;
  background-color: #0d6efd;
  border-radius: 10px;
  height: 500px;
}

.keyboard-box::before {
  content: "MY";
  position: absolute;
  color: #ffffff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: -100px;
  transition: 0.5s;
  opacity: 0;
}
.keyboard-box:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}
.keyboard-box::after {
  content: "KEYBOARD";
  position: absolute;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 450px;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 0;
}
.keyboard-box:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.keyboard-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  transform: translate3d(0, 0, 50px);
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}
.keyboard-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-button {
  bottom: 20px;
  opacity: 1;
}
.keyboard-img {
  max-width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 100px);
  transition: 0.5s;
}
.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -50%, 100px) scale(1.2);
}
