.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  scroll-margin-top: 60px;
}

.card-img-top {
  height: 200px;
  width: auto;
}
footer {
  margin-top: -10px;
}
